.button {
  position: relative;

  &::before {
    content: '';
    transition: height 0.15s;
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 0;
    background: linear-gradient(#fc0fe8, #168afe);
  }

  &:hover,
  &:active {
    &::before {
      height: 100%;
    }
  }

  &--active {
    &::before {
      height: 100%;
    }
  }
}
