.loading {
  @apply w-16 h-16 rounded-full flex justify-center items-center;
  animation: rotation 1s ease-in-out infinite;
  background: linear-gradient(45deg, #0fe4fc, transparent 90%);

  &::before {
    @apply w-[54px] h-[54px] rounded-full bg-white;
    content: '';
  }
}

@keyframes bubble {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
